<div class="wrapper">
  <div class="container1">
    <div class="wave-wrapper">
      <div class="wave"></div>
      <div class="wave wave_2"></div>
      <div class="wave wave_3"></div>
    </div>
  </div>
  <div class="container2">
    <div class="wave-wrapper _2">
      <div class="wave"></div>
      <div class="wave wave_2"></div>
      <div class="wave wave_3"></div>
    </div>
  </div>
  <div class="container3">
    <div class="wave-wrapper _3">
      <div class="wave"></div>
      <div class="wave wave_2"></div>
      <div class="wave wave_3"></div>
    </div>
  </div>
  <div class="container4">
    <div class="wave-wrapper _4">
      <div class="wave"></div>
      <div class="wave wave_2"></div>
      <div class="wave wave_3"></div>
    </div>
  </div>
</div>
