<mat-list role="list" class="menu-list">
  <mat-list-item role="listitem" [routerLink]="'/main'">
    <button class="list-button" mat-stroked-button color="primary">Main page</button>
  </mat-list-item>
  <mat-list-item role="listitem" [routerLink]="'/pomodoro'">
    <button class="list-button" mat-stroked-button color="primary">Pomodoro</button>
  </mat-list-item>
  <mat-list-item role="listitem" [routerLink]="'/todo'">
    <button class="list-button" mat-stroked-button color="primary">Todo</button>
  </mat-list-item>
<!--  (onClick)="logOut()" -->
  <mat-list-item role="listitem" [routerLink]="'/login'" class="logout">
    <button class="list-button" mat-stroked-button color="primary">app three</button>
  </mat-list-item>
</mat-list>
